---
import Nav from "../components/nav.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>astro-tailwind-vendor-prefix-bug</title>
		<style>
		html, body {
			background-color: #236add;
		}
		</style>
	</head>
	<body>
		<Nav />
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu risus nec neque molestie pellentesque. Suspendisse ut lacinia metus, in dapibus dolor. Maecenas vel urna in dolor rhoncus efficitur hendrerit eu nisi. Sed eu feugiat turpis. Etiam massa urna, rhoncus efficitur pretium sit amet, luctus id nibh. Etiam vehicula semper arcu, vel tristique nisi congue quis. Suspendisse commodo tortor non maximus lobortis.

			Ut volutpat sem vitae quam consectetur, in tempor erat pharetra. Phasellus tristique ante ac ligula viverra pharetra. Vestibulum sit amet justo massa. Integer eu facilisis nisi. Morbi imperdiet turpis non mi cursus aliquet. Nullam et ante ac augue pellentesque suscipit. Fusce ut mauris sapien. Integer auctor tincidunt urna sit amet luctus. Phasellus imperdiet neque congue commodo lobortis. Aliquam et ultricies orci, quis lobortis elit. Integer lobortis ligula a augue gravida, non ultricies ipsum luctus. Aenean gravida lectus elementum, imperdiet augue eget, dignissim lacus. Duis quis lectus in arcu congue pretium sed sit amet mauris. Praesent vitae nunc maximus, dignissim elit sodales, ultricies sapien. Pellentesque in massa non nibh porta vulputate.

			Donec finibus purus vitae blandit tristique. Nunc ullamcorper id ante id ultricies. Maecenas nec efficitur felis, eget aliquam turpis. Donec nec lacinia tellus, ac cursus justo. Praesent et nulla vel nisl tristique volutpat. In non felis id dolor aliquam facilisis. Mauris interdum tellus sit amet pharetra placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam commodo tellus quam, vel commodo lacus accumsan non. Etiam ac neque neque.

			Etiam id quam fringilla, porta turpis id, porta odio. Pellentesque euismod semper turpis eget pretium. In sit amet luctus felis. Suspendisse et lacus rhoncus, fermentum massa id, eleifend nisl. Etiam pulvinar neque ex, posuere eleifend lacus luctus nec. Aliquam tincidunt in velit et commodo. Cras ultrices lacinia arcu, lacinia scelerisque arcu tincidunt quis. Sed in nisi quis odio vehicula congue eleifend in leo. Nulla gravida, neque sed facilisis suscipit, orci urna egestas eros, non iaculis nunc mi sed justo. Mauris turpis dui, suscipit sed nisi sit amet, pharetra maximus nisl. Nunc lobortis lectus magna, vel tempus turpis egestas sed. Praesent rutrum turpis at vulputate consectetur.

			Nunc vestibulum elit non sapien sollicitudin, id mollis erat placerat. Vivamus tempus scelerisque pharetra. Cras gravida, velit ac rutrum vestibulum, ex tortor sollicitudin ipsum, et mattis orci enim at dui. Morbi varius leo iaculis sem pellentesque feugiat. Quisque ac vulputate urna. Curabitur vehicula placerat ligula et pharetra. Donec sed mi et libero congue tincidunt a quis lorem. Aliquam scelerisque arcu felis.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu risus nec neque molestie pellentesque. Suspendisse ut lacinia metus, in dapibus dolor. Maecenas vel urna in dolor rhoncus efficitur hendrerit eu nisi. Sed eu feugiat turpis. Etiam massa urna, rhoncus efficitur pretium sit amet, luctus id nibh. Etiam vehicula semper arcu, vel tristique nisi congue quis. Suspendisse commodo tortor non maximus lobortis.

			Ut volutpat sem vitae quam consectetur, in tempor erat pharetra. Phasellus tristique ante ac ligula viverra pharetra. Vestibulum sit amet justo massa. Integer eu facilisis nisi. Morbi imperdiet turpis non mi cursus aliquet. Nullam et ante ac augue pellentesque suscipit. Fusce ut mauris sapien. Integer auctor tincidunt urna sit amet luctus. Phasellus imperdiet neque congue commodo lobortis. Aliquam et ultricies orci, quis lobortis elit. Integer lobortis ligula a augue gravida, non ultricies ipsum luctus. Aenean gravida lectus elementum, imperdiet augue eget, dignissim lacus. Duis quis lectus in arcu congue pretium sed sit amet mauris. Praesent vitae nunc maximus, dignissim elit sodales, ultricies sapien. Pellentesque in massa non nibh porta vulputate.

			Donec finibus purus vitae blandit tristique. Nunc ullamcorper id ante id ultricies. Maecenas nec efficitur felis, eget aliquam turpis. Donec nec lacinia tellus, ac cursus justo. Praesent et nulla vel nisl tristique volutpat. In non felis id dolor aliquam facilisis. Mauris interdum tellus sit amet pharetra placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam commodo tellus quam, vel commodo lacus accumsan non. Etiam ac neque neque.

			Etiam id quam fringilla, porta turpis id, porta odio. Pellentesque euismod semper turpis eget pretium. In sit amet luctus felis. Suspendisse et lacus rhoncus, fermentum massa id, eleifend nisl. Etiam pulvinar neque ex, posuere eleifend lacus luctus nec. Aliquam tincidunt in velit et commodo. Cras ultrices lacinia arcu, lacinia scelerisque arcu tincidunt quis. Sed in nisi quis odio vehicula congue eleifend in leo. Nulla gravida, neque sed facilisis suscipit, orci urna egestas eros, non iaculis nunc mi sed justo. Mauris turpis dui, suscipit sed nisi sit amet, pharetra maximus nisl. Nunc lobortis lectus magna, vel tempus turpis egestas sed. Praesent rutrum turpis at vulputate consectetur.

			Nunc vestibulum elit non sapien sollicitudin, id mollis erat placerat. Vivamus tempus scelerisque pharetra. Cras gravida, velit ac rutrum vestibulum, ex tortor sollicitudin ipsum, et mattis orci enim at dui. Morbi varius leo iaculis sem pellentesque feugiat. Quisque ac vulputate urna. Curabitur vehicula placerat ligula et pharetra. Donec sed mi et libero congue tincidunt a quis lorem. Aliquam scelerisque arcu felis.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu risus nec neque molestie pellentesque. Suspendisse ut lacinia metus, in dapibus dolor. Maecenas vel urna in dolor rhoncus efficitur hendrerit eu nisi. Sed eu feugiat turpis. Etiam massa urna, rhoncus efficitur pretium sit amet, luctus id nibh. Etiam vehicula semper arcu, vel tristique nisi congue quis. Suspendisse commodo tortor non maximus lobortis.

			Ut volutpat sem vitae quam consectetur, in tempor erat pharetra. Phasellus tristique ante ac ligula viverra pharetra. Vestibulum sit amet justo massa. Integer eu facilisis nisi. Morbi imperdiet turpis non mi cursus aliquet. Nullam et ante ac augue pellentesque suscipit. Fusce ut mauris sapien. Integer auctor tincidunt urna sit amet luctus. Phasellus imperdiet neque congue commodo lobortis. Aliquam et ultricies orci, quis lobortis elit. Integer lobortis ligula a augue gravida, non ultricies ipsum luctus. Aenean gravida lectus elementum, imperdiet augue eget, dignissim lacus. Duis quis lectus in arcu congue pretium sed sit amet mauris. Praesent vitae nunc maximus, dignissim elit sodales, ultricies sapien. Pellentesque in massa non nibh porta vulputate.

			Donec finibus purus vitae blandit tristique. Nunc ullamcorper id ante id ultricies. Maecenas nec efficitur felis, eget aliquam turpis. Donec nec lacinia tellus, ac cursus justo. Praesent et nulla vel nisl tristique volutpat. In non felis id dolor aliquam facilisis. Mauris interdum tellus sit amet pharetra placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam commodo tellus quam, vel commodo lacus accumsan non. Etiam ac neque neque.

			Etiam id quam fringilla, porta turpis id, porta odio. Pellentesque euismod semper turpis eget pretium. In sit amet luctus felis. Suspendisse et lacus rhoncus, fermentum massa id, eleifend nisl. Etiam pulvinar neque ex, posuere eleifend lacus luctus nec. Aliquam tincidunt in velit et commodo. Cras ultrices lacinia arcu, lacinia scelerisque arcu tincidunt quis. Sed in nisi quis odio vehicula congue eleifend in leo. Nulla gravida, neque sed facilisis suscipit, orci urna egestas eros, non iaculis nunc mi sed justo. Mauris turpis dui, suscipit sed nisi sit amet, pharetra maximus nisl. Nunc lobortis lectus magna, vel tempus turpis egestas sed. Praesent rutrum turpis at vulputate consectetur.

			Nunc vestibulum elit non sapien sollicitudin, id mollis erat placerat. Vivamus tempus scelerisque pharetra. Cras gravida, velit ac rutrum vestibulum, ex tortor sollicitudin ipsum, et mattis orci enim at dui. Morbi varius leo iaculis sem pellentesque feugiat. Quisque ac vulputate urna. Curabitur vehicula placerat ligula et pharetra. Donec sed mi et libero congue tincidunt a quis lorem. Aliquam scelerisque arcu felis.
		</p>
	</body>
</html>
