---
---

<style>
  .navbar-blur {
    backdrop-filter: blur(28px);
    -webkit-backdrop-filter: blur(28px);
  }
</style>

<nav
  class="grid grid-cols-3 navbar-blur text-white p-5 fixed z-[66] h-16 w-full !bg-[#13151a]/10 transition"
>
  <div class="flex gap-4 items-center">
    <a href="/" class="flex gap-4">
      <div id="ovr" class="font-bold text-xl">testing</div>
    </a>
  </div>
</nav>


